<div class="topnav navori" id="navbar">
    <a class="homenav" href="/index.html" onclick="closenav()"><img src="/assets/img/logo.svg" />
        <p>Kunyu WANG</p>
    </a>
    <div class="othernav">
        <a class="resdown" id="architecturenav" href="/design.html" onclick="closenav()">Research</a>
        <a class="resdown" id="codingnav" href="/blog.html" onclick="closenav()">Publication</a>
        <a class="resdown" id="literaturenav" href="/tabs.html" onclick="closenav()">About</a>
    </div>
    <a class="dropicon" onclick="narrownav()">
        <i class="fa fa-bars"></i>
    </a>
</div>