<div class="topnav navori" id="navbar">
    <a class="homenav" href="/index.html" onclick="closenav()">
        <img src="/assets/img/logo.png" />
    </a>
    <div class="othernav">
        <a class="resdown" id="indexnav" href="/index.html" onclick="closenav()">About Kunyu</a>
        <a class="resdown" id="researchnav" href="/research.html" onclick="closenav()">Research</a>
        <a class="resdown" id="publicationsnav" href="/publications.html" onclick="closenav()">Publications</a>
        <!-- <a class="resdown" id="literaturenav" href="/about.html" onclick="closenav()">About</a> -->
    </div>
    <a class="dropicon" onclick="narrownav()">
        <i class="fa fa-bars"></i>
    </a>
</div>